In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
#importing data frame
df = pd.read_csv('diabetic_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [3]:
df.shape

(101766, 50)

In [4]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [5]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [6]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [7]:
#printing the unique values for each column
col_list = ['race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 
       'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']

print('Unique values in each column\n')
for col_name in col_list:
    unique_values = []
    
    for i in range(0, len(df[col_name].unique())):
        unique_values.append(df[col_name].unique()[i])
    
    print(col_name + ":")
    print(unique_values)
    print()

Unique values in each column

race:
['Caucasian', 'AfricanAmerican', '?', 'Other', 'Asian', 'Hispanic']

gender:
['Female', 'Male', 'Unknown/Invalid']

age:
['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)', '[70-80)', '[80-90)', '[90-100)']

weight:
['?', '[75-100)', '[50-75)', '[0-25)', '[100-125)', '[25-50)', '[125-150)', '[175-200)', '[150-175)', '>200']

admission_type_id:
[6, 1, 2, 3, 4, 5, 8, 7]

discharge_disposition_id:
[25, 1, 3, 6, 2, 5, 11, 7, 10, 4, 14, 18, 8, 13, 12, 16, 17, 22, 23, 9, 20, 15, 24, 28, 19, 27]

admission_source_id:
[1, 7, 2, 4, 5, 6, 20, 3, 17, 8, 9, 14, 10, 22, 11, 25, 13]

time_in_hospital:
[1, 3, 2, 4, 5, 13, 12, 9, 7, 10, 6, 11, 8, 14]

payer_code:
['?', 'MC', 'MD', 'HM', 'UN', 'BC', 'SP', 'CP', 'SI', 'DM', 'CM', 'CH', 'PO', 'WC', 'OT', 'OG', 'MP', 'FR']

medical_specialty:
['Pediatrics-Endocrinology', '?', 'InternalMedicine', 'Family/GeneralPractice', 'Cardiology', 'Surgery-General', 'Orthopedics', 'Gastroenterology', 'Surgery-Cardiovascular/Thoracic', 'Nephrology', 'Orthopedics-Reconstructive', 'Psychiatry', 'Emergency/Trauma', 'Pulmonology', 'Surgery-Neuro', 'Obsterics&Gynecology-GynecologicOnco', 'ObstetricsandGynecology', 'Pediatrics', 'Hematology/Oncology', 'Otolaryngology', 'Surgery-Colon&Rectal', 'Pediatrics-CriticalCare', 'Endocrinology', 'Urology', 'Psychiatry-Child/Adolescent', 'Pediatrics-Pulmonology', 'Neurology', 'Anesthesiology-Pediatric', 'Radiology', 'Pediatrics-Hematology-Oncology', 'Psychology', 'Podiatry', 'Gynecology', 'Oncology', 'Pediatrics-Neurology', 'Surgery-Plastic', 'Surgery-Thoracic', 'Surgery-PlasticwithinHeadandNeck', 'Ophthalmology', 'Surgery-Pediatric', 'Pediatrics-EmergencyMedicine', 'PhysicalMedicineandRehabilitation', 'InfectiousDiseases', 'Anesthesiology', 'Rheumatology', 'AllergyandImmunology', 'Surgery-Maxillofacial', 'Pediatrics-InfectiousDiseases', 'Pediatrics-AllergyandImmunology', 'Dentistry', 'Surgeon', 'Surgery-Vascular', 'Osteopath', 'Psychiatry-Addictive', 'Surgery-Cardiovascular', 'PhysicianNotFound', 'Hematology', 'Proctology', 'Obstetrics', 'SurgicalSpecialty', 'Radiologist', 'Pathology', 'Dermatology', 'SportsMedicine', 'Speech', 'Hospitalist', 'OutreachServices', 'Cardiology-Pediatric', 'Perinatology', 'Neurophysiology', 'Endocrinology-Metabolism', 'DCPTEAM', 'Resident']

num_lab_procedures:
[41, 59, 11, 44, 51, 31, 70, 73, 68, 33, 47, 62, 60, 55, 49, 75, 45, 29, 35, 42, 66, 36, 19, 64, 25, 53, 52, 87, 27, 37, 46, 28, 48, 72, 10, 2, 65, 67, 40, 54, 58, 57, 43, 32, 83, 34, 39, 69, 38, 56, 22, 96, 78, 61, 88, 50, 1, 18, 82, 9, 63, 24, 71, 77, 81, 76, 90, 93, 3, 103, 13, 80, 85, 16, 15, 12, 30, 23, 17, 21, 79, 26, 5, 95, 97, 84, 14, 74, 105, 86, 98, 20, 6, 94, 8, 102, 100, 7, 89, 91, 92, 4, 101, 99, 114, 113, 111, 129, 107, 108, 106, 104, 109, 120, 132, 121, 126, 118]

num_procedures:
[0, 5, 1, 6, 2, 3, 4]

num_medications:
[1, 18, 13, 16, 8, 21, 12, 28, 17, 11, 15, 31, 2, 23, 19, 7, 20, 14, 10, 22, 9, 27, 25, 4, 32, 6, 30, 26, 24, 33, 5, 39, 3, 29, 61, 40, 46, 41, 36, 34, 35, 50, 43, 42, 37, 51, 38, 45, 54, 52, 49, 62, 55, 47, 44, 53, 48, 57, 59, 56, 60, 63, 58, 70, 67, 64, 69, 65, 68, 66, 81, 79, 75, 72, 74]

number_outpatient:
[0, 2, 1, 5, 7, 9, 3, 8, 4, 12, 11, 6, 20, 15, 10, 13, 14, 16, 21, 35, 17, 29, 36, 18, 19, 27, 22, 24, 42, 39, 34, 26, 33, 25, 23, 28, 37, 38, 40]

number_emergency:
[0, 1, 2, 4, 3, 9, 5, 7, 6, 8, 22, 25, 10, 13, 42, 16, 11, 28, 15, 14, 18, 12, 21, 20, 19, 46, 76, 37, 64, 63, 54, 24, 29]

number_inpatient:
[0, 1, 2, 3, 6, 5, 4, 7, 8, 9, 15, 10, 11, 14, 12, 13, 17, 16, 21, 18, 19]

number_diagnoses:
[1, 9, 6, 7, 5, 8, 3, 4, 2, 16, 12, 13, 15, 10, 11, 14]

max_glu_serum:
['None', '>300', 'Norm', '>200']

A1Cresult:
['None', '>7', '>8', 'Norm']

metformin:
['No', 'Steady', 'Up', 'Down']

repaglinide:
['No', 'Up', 'Steady', 'Down']

nateglinide:
['No', 'Steady', 'Down', 'Up']

chlorpropamide:
['No', 'Steady', 'Down', 'Up']

glimepiride:
['No', 'Steady', 'Down', 'Up']

acetohexamide:
['No', 'Steady']

glipizide:
['No', 'Steady', 'Up', 'Down']

glyburide:
['No', 'Steady', 'Up', 'Down']

tolbutamide:
['No', 'Steady']

pioglitazone:
['No', 'Steady', 'Up', 'Down']

rosiglitazone:
['No', 'Steady', 'Up', 'Down']

acarbose:
['No', 'Steady', 'Up', 'Down']

miglitol:
['No', 'Steady', 'Down', 'Up']

troglitazone:
['No', 'Steady']

tolazamide:
['No', 'Steady', 'Up']

examide:
['No']

citoglipton:
['No']

insulin:
['No', 'Up', 'Steady', 'Down']

glyburide-metformin:
['No', 'Steady', 'Down', 'Up']

glipizide-metformin:
['No', 'Steady']

glimepiride-pioglitazone:
['No', 'Steady']

metformin-rosiglitazone:
['No', 'Steady']

metformin-pioglitazone:
['No', 'Steady']

change:
['No', 'Ch']

diabetesMed:
['No', 'Yes']

readmitted:
['NO', '>30', '<30']

In [8]:
#checking how many duplicate rows there are
df.duplicated().sum()

0

In [9]:
#finding the percentage of missing values in each column
for column in df.columns:
    percent_missing = np.sum(df[column]=='?')/df.shape[0]*100
    print(column + ': ' + str(percent_missing))

encounter_id: 0.0
patient_nbr: 0.0
race: 2.2335554114340743
gender: 0.0
age: 0.0
weight: 96.85847925633315
admission_type_id: 0.0
discharge_disposition_id: 0.0
admission_source_id: 0.0
time_in_hospital: 0.0
payer_code: 39.5574160328597
medical_specialty: 49.08220820313268
num_lab_procedures: 0.0
num_procedures: 0.0
num_medications: 0.0
number_outpatient: 0.0
number_emergency: 0.0
number_inpatient: 0.0
diag_1: 0.02063557573256294
diag_2: 0.3517874339170253
diag_3: 1.398305917497003
number_diagnoses: 0.0
max_glu_serum: 0.0
A1Cresult: 0.0
metformin: 0.0
repaglinide: 0.0
nateglinide: 0.0
chlorpropamide: 0.0
glimepiride: 0.0
acetohexamide: 0.0
glipizide: 0.0
glyburide: 0.0
tolbutamide: 0.0
pioglitazone: 0.0
rosiglitazone: 0.0
acarbose: 0.0
miglitol: 0.0
troglitazone: 0.0
tolazamide: 0.0
examide: 0.0
citoglipton: 0.0
insulin: 0.0
glyburide-metformin: 0.0
glipizide-metformin: 0.0
glimepiride-pioglitazone: 0.0
metformin-rosiglitazone: 0.0
metformin-pioglitazone: 0.0
change: 0.0
diabetesMed: 0.0
readmitted: 0.0

In [10]:
#dropping weight, payer code, and medical specialty columns as they have significant number of missing values
df.drop(labels=['weight','payer_code','medical_specialty'], inplace=True, axis=1)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [11]:
#dropping examide and citoglipton columns as they only have one unique value 'No'
df.drop(labels=['examide','citoglipton'], inplace=True, axis=1)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [12]:
#checking the values in the race column
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

In [13]:
#replacing the ? with Other
df['race'].replace('?','Other', inplace=True)
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
Other               3779
Hispanic            2037
Asian                641
Name: race, dtype: int64

In [37]:
#checking the diag_1 column
df['diag_1'].value_counts()

428    6862
414    6581
786    4016
410    3614
486    3508
       ...
955       1
389       1
640       1
691       1
363       1
Name: diag_1, Length: 717, dtype: int64

In [16]:
df.loc[(df['diag_2']=='?') & (df['diag_3']=='?')]

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
66,715086,3376278,Caucasian,Male,[10-20),1,5,7,1,51,...,No,Up,No,No,No,No,No,Ch,Yes,NO
216,2735964,2359485,Caucasian,Female,[0-10),6,25,7,3,34,...,No,Steady,No,No,No,No,No,No,Yes,NO
263,2948334,3425292,AfricanAmerican,Female,[30-40),6,25,1,2,36,...,No,No,No,No,No,No,No,No,No,NO
431,3902532,4893183,AfricanAmerican,Female,[20-30),6,25,7,2,63,...,No,Down,No,No,No,No,No,Ch,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93873,341359292,43520868,Caucasian,Female,[90-100),1,14,7,1,36,...,No,No,No,No,No,No,No,No,No,NO
95146,357840194,99015219,Caucasian,Male,[60-70),3,1,1,1,48,...,No,No,No,No,No,No,No,No,No,>30
96563,377226950,24145722,Caucasian,Female,[10-20),2,7,1,1,32,...,No,No,No,No,No,No,No,No,No,NO
100787,430828958,146717159,Caucasian,Female,[0-10),3,1,1,3,2,...,No,Steady,No,No,No,No,No,No,Yes,NO
101719,443256548,162949523,Caucasian,Male,[10-20),1,7,7,1,59,...,No,Up,No,No,No,No,No,Ch,Yes,NO

In [14]:
df[['diag_1','diag_2','diag_3','number_diagnoses']]

        diag_1  diag_2 diag_3  number_diagnoses
0       250.83       ?      ?                 1
1          276  250.01    255                 9
2          648     250    V27                 6
3            8  250.43    403                 7
4          197     157    250                 5
...        ...     ...    ...               ...
101761  250.13     291    458                 9
101762     560     276    787                 9
101763      38     590    296                13
101764     996     285    998                 9
101765     530     530    787                 9

[101766 rows x 4 columns]