In [46]:
#importing necessary libraries
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'library'

In [2]:
#importing main data frame
df = pd.read_csv('diabetic_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [3]:
#importing data frame which maps IDs to a description 
#there are three sets of IDs in this df (admission_type, discharge_disposition, and admission_source) 
#that will need to be split up. this is done in the next few lines.
mapping_df = pd.read_csv('IDs_mapping.csv')
mapping_df.head(12)

,admission_type_id,description
0,1,Emergency
1,2,Urgent
2,3,Elective
3,4,Newborn
4,5,Not Available
5,6,NaN
6,7,Trauma Center
7,8,Not Mapped
8,NaN,NaN
9,discharge_disposition_id,description
10,1,Discharged to home
11,2,Discharged/transferred to another short term h...

In [4]:
#creating df for admission_type mapping
admission_type = mapping_df.iloc[0:8]
admission_type.set_index('admission_type_id', drop=True, inplace=True)
admission_type = admission_type.transpose()
admission_type

admission_type_id,1,2,3,4,5,6,7,8
description,Emergency,Urgent,Elective,Newborn,Not Available,NaN,Trauma Center,Not Mapped

In [5]:
#turning df into a dictionary
admission_type_dict = admission_type.to_dict('list')
admission_type_dict

{'1': ['Emergency'],
 '2': ['Urgent'],
 '3': ['Elective'],
 '4': ['Newborn'],
 '5': ['Not Available'],
 '6': [nan],
 '7': ['Trauma Center'],
 '8': ['Not Mapped']}

In [6]:
#creating df for discharge_disposition mapping
discharge_disposition = mapping_df.iloc[10:40]
discharge_disposition.columns = ['discharge_disposition_id', 'description']
discharge_disposition.set_index('discharge_disposition_id', inplace=True, drop=True)
discharge_disposition = discharge_disposition.transpose()
discharge_disposition

discharge_disposition_id,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,30,27,28,29
description,Discharged to home,Discharged/transferred to another short term h...,Discharged/transferred to SNF,Discharged/transferred to ICF,Discharged/transferred to another type of inpa...,Discharged/transferred to home with home healt...,Left AMA,Discharged/transferred to home under care of H...,Admitted as an inpatient to this hospital,Neonate discharged to another hospital for neo...,...,"Expired, place unknown. Medicaid only, hospice.",Discharged/transferred to another rehab fac in...,Discharged/transferred to a long term care hos...,Discharged/transferred to a nursing facility c...,Not Mapped,Unknown/Invalid,Discharged/transferred to another Type of Heal...,Discharged/transferred to a federal health car...,Discharged/transferred/referred to a psychiatr...,Discharged/transferred to a Critical Access Ho...

In [7]:
#turning df into df
discharge_disposition_dict = discharge_disposition.to_dict('list')
discharge_disposition_dict

{'1': ['Discharged to home'],
 '2': ['Discharged/transferred to another short term hospital'],
 '3': ['Discharged/transferred to SNF'],
 '4': ['Discharged/transferred to ICF'],
 '5': ['Discharged/transferred to another type of inpatient care institution'],
 '6': ['Discharged/transferred to home with home health service'],
 '7': ['Left AMA'],
 '8': ['Discharged/transferred to home under care of Home IV provider'],
 '9': ['Admitted as an inpatient to this hospital'],
 '10': ['Neonate discharged to another hospital for neonatal aftercare'],
 '11': ['Expired'],
 '12': ['Still patient or expected to return for outpatient services'],
 '13': ['Hospice / home'],
 '14': ['Hospice / medical facility'],
 '15': ['Discharged/transferred within this institution to Medicare approved swing bed'],
 '16': ['Discharged/transferred/referred another institution for outpatient services'],
 '17': ['Discharged/transferred/referred to this institution for outpatient services'],
 '18': [nan],
 '19': ['Expired at home. Medicaid only, hospice.'],
 '20': ['Expired in a medical facility. Medicaid only, hospice.'],
 '21': ['Expired, place unknown. Medicaid only, hospice.'],
 '22': ['Discharged/transferred to another rehab fac including rehab units of a hospital .'],
 '23': ['Discharged/transferred to a long term care hospital.'],
 '24': ['Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.'],
 '25': ['Not Mapped'],
 '26': ['Unknown/Invalid'],
 '30': ['Discharged/transferred to another Type of Health Care Institution not Defined Elsewhere'],
 '27': ['Discharged/transferred to a federal health care facility.'],
 '28': ['Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital'],
 '29': ['Discharged/transferred to a Critical Access Hospital (CAH).']}

In [8]:
#creating df for admission_source mapping
admission_source = mapping_df.iloc[42:69]
admission_source.columns = ['admission_source_id', 'description']
admission_source.set_index('admission_source_id', inplace=True, drop=True)
admission_source = admission_source.transpose()
admission_source

admission_source_id,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,25,26
description,Physician Referral,Clinic Referral,HMO Referral,Transfer from a hospital,Transfer from a Skilled Nursing Facility (SNF),Transfer from another health care facility,Emergency Room,Court/Law Enforcement,Not Available,Transfer from critial access hospital,...,NaN,Transfer From Another Home Health Agency,Readmission to Same Home Health Agency,Not Mapped,Unknown/Invalid,Transfer from hospital inpt/same fac reslt in...,Born inside this hospital,Born outside this hospital,Transfer from Ambulatory Surgery Center,Transfer from Hospice

In [9]:
#turning df into df
admission_source_dict = admission_source.to_dict('list')
admission_source_dict

{'1': [' Physician Referral'],
 '2': ['Clinic Referral'],
 '3': ['HMO Referral'],
 '4': ['Transfer from a hospital'],
 '5': [' Transfer from a Skilled Nursing Facility (SNF)'],
 '6': [' Transfer from another health care facility'],
 '7': [' Emergency Room'],
 '8': [' Court/Law Enforcement'],
 '9': [' Not Available'],
 '10': [' Transfer from critial access hospital'],
 '11': ['Normal Delivery'],
 '12': [' Premature Delivery'],
 '13': [' Sick Baby'],
 '14': [' Extramural Birth'],
 '15': ['Not Available'],
 '17': [nan],
 '18': [' Transfer From Another Home Health Agency'],
 '19': ['Readmission to Same Home Health Agency'],
 '20': [' Not Mapped'],
 '21': ['Unknown/Invalid'],
 '22': [' Transfer from hospital inpt/same fac reslt in a sep claim'],
 '23': [' Born inside this hospital'],
 '24': [' Born outside this hospital'],
 '25': [' Transfer from Ambulatory Surgery Center'],
 '26': ['Transfer from Hospice']}

In [10]:
df['admission_type_id'] =  df['admission_type_id'].astype(str).replace(admission_type_dict)
df['discharge_disposition_id'] =  df['discharge_disposition_id'].astype(str).replace(discharge_disposition_dict)  
df['admission_source_id'] =  df['admission_source_id'].astype(str).replace(admission_source_dict)

In [11]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,NaN,Not Mapped,Physician Referral,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,Emergency,Discharged to home,Emergency Room,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,Emergency,Discharged to home,Emergency Room,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,Emergency,Discharged to home,Emergency Room,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,Emergency,Discharged to home,Emergency Room,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [12]:
df.shape

(101766, 50)

In [13]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [14]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id           object
discharge_disposition_id    object
admission_source_id         object
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [15]:
df.describe()

,encounter_id,patient_nbr,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [16]:
#printing the unique values for each column
col_list = ['race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 
       'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']

print('Unique values in each column\n')
for col_name in col_list:
    unique_values = []
    
    for i in range(0, len(df[col_name].unique())):
        unique_values.append(df[col_name].unique()[i])
    
    print(col_name + ":")
    print(unique_values)
    print()

Unique values in each column

race:
['Caucasian', 'AfricanAmerican', '?', 'Other', 'Asian', 'Hispanic']

gender:
['Female', 'Male', 'Unknown/Invalid']

age:
['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)', '[70-80)', '[80-90)', '[90-100)']

weight:
['?', '[75-100)', '[50-75)', '[0-25)', '[100-125)', '[25-50)', '[125-150)', '[175-200)', '[150-175)', '>200']

admission_type_id:
[nan, 'Emergency', 'Urgent', 'Elective', 'Newborn', 'Not Available', 'Not Mapped', 'Trauma Center']

discharge_disposition_id:
['Not Mapped', 'Discharged to home', 'Discharged/transferred to SNF', 'Discharged/transferred to home with home health service', 'Discharged/transferred to another short term hospital', 'Discharged/transferred to another type of inpatient care institution', 'Expired', 'Left AMA', 'Neonate discharged to another hospital for neonatal aftercare', 'Discharged/transferred to ICF', 'Hospice / medical facility', nan, 'Discharged/transferred to home under care of Home IV provider', 'Hospice / home', 'Still patient or expected to return for outpatient services', 'Discharged/transferred/referred another institution for outpatient services', 'Discharged/transferred/referred to this institution for outpatient services', 'Discharged/transferred to another rehab fac including rehab units of a hospital .', 'Discharged/transferred to a long term care hospital.', 'Admitted as an inpatient to this hospital', 'Expired in a medical facility. Medicaid only, hospice.', 'Discharged/transferred within this institution to Medicare approved swing bed', 'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.', 'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital', 'Expired at home. Medicaid only, hospice.', 'Discharged/transferred to a federal health care facility.']

admission_source_id:
[' Physician Referral', ' Emergency Room', 'Clinic Referral', 'Transfer from a hospital', ' Transfer from a Skilled Nursing Facility (SNF)', ' Transfer from another health care facility', ' Not Mapped', 'HMO Referral', nan, ' Court/Law Enforcement', ' Not Available', ' Extramural Birth', ' Transfer from critial access hospital', ' Transfer from hospital inpt/same fac reslt in a sep claim', 'Normal Delivery', ' Transfer from Ambulatory Surgery Center', ' Sick Baby']

time_in_hospital:
[1, 3, 2, 4, 5, 13, 12, 9, 7, 10, 6, 11, 8, 14]

payer_code:
['?', 'MC', 'MD', 'HM', 'UN', 'BC', 'SP', 'CP', 'SI', 'DM', 'CM', 'CH', 'PO', 'WC', 'OT', 'OG', 'MP', 'FR']

medical_specialty:
['Pediatrics-Endocrinology', '?', 'InternalMedicine', 'Family/GeneralPractice', 'Cardiology', 'Surgery-General', 'Orthopedics', 'Gastroenterology', 'Surgery-Cardiovascular/Thoracic', 'Nephrology', 'Orthopedics-Reconstructive', 'Psychiatry', 'Emergency/Trauma', 'Pulmonology', 'Surgery-Neuro', 'Obsterics&Gynecology-GynecologicOnco', 'ObstetricsandGynecology', 'Pediatrics', 'Hematology/Oncology', 'Otolaryngology', 'Surgery-Colon&Rectal', 'Pediatrics-CriticalCare', 'Endocrinology', 'Urology', 'Psychiatry-Child/Adolescent', 'Pediatrics-Pulmonology', 'Neurology', 'Anesthesiology-Pediatric', 'Radiology', 'Pediatrics-Hematology-Oncology', 'Psychology', 'Podiatry', 'Gynecology', 'Oncology', 'Pediatrics-Neurology', 'Surgery-Plastic', 'Surgery-Thoracic', 'Surgery-PlasticwithinHeadandNeck', 'Ophthalmology', 'Surgery-Pediatric', 'Pediatrics-EmergencyMedicine', 'PhysicalMedicineandRehabilitation', 'InfectiousDiseases', 'Anesthesiology', 'Rheumatology', 'AllergyandImmunology', 'Surgery-Maxillofacial', 'Pediatrics-InfectiousDiseases', 'Pediatrics-AllergyandImmunology', 'Dentistry', 'Surgeon', 'Surgery-Vascular', 'Osteopath', 'Psychiatry-Addictive', 'Surgery-Cardiovascular', 'PhysicianNotFound', 'Hematology', 'Proctology', 'Obstetrics', 'SurgicalSpecialty', 'Radiologist', 'Pathology', 'Dermatology', 'SportsMedicine', 'Speech', 'Hospitalist', 'OutreachServices', 'Cardiology-Pediatric', 'Perinatology', 'Neurophysiology', 'Endocrinology-Metabolism', 'DCPTEAM', 'Resident']

num_lab_procedures:
[41, 59, 11, 44, 51, 31, 70, 73, 68, 33, 47, 62, 60, 55, 49, 75, 45, 29, 35, 42, 66, 36, 19, 64, 25, 53, 52, 87, 27, 37, 46, 28, 48, 72, 10, 2, 65, 67, 40, 54, 58, 57, 43, 32, 83, 34, 39, 69, 38, 56, 22, 96, 78, 61, 88, 50, 1, 18, 82, 9, 63, 24, 71, 77, 81, 76, 90, 93, 3, 103, 13, 80, 85, 16, 15, 12, 30, 23, 17, 21, 79, 26, 5, 95, 97, 84, 14, 74, 105, 86, 98, 20, 6, 94, 8, 102, 100, 7, 89, 91, 92, 4, 101, 99, 114, 113, 111, 129, 107, 108, 106, 104, 109, 120, 132, 121, 126, 118]

num_procedures:
[0, 5, 1, 6, 2, 3, 4]

num_medications:
[1, 18, 13, 16, 8, 21, 12, 28, 17, 11, 15, 31, 2, 23, 19, 7, 20, 14, 10, 22, 9, 27, 25, 4, 32, 6, 30, 26, 24, 33, 5, 39, 3, 29, 61, 40, 46, 41, 36, 34, 35, 50, 43, 42, 37, 51, 38, 45, 54, 52, 49, 62, 55, 47, 44, 53, 48, 57, 59, 56, 60, 63, 58, 70, 67, 64, 69, 65, 68, 66, 81, 79, 75, 72, 74]

number_outpatient:
[0, 2, 1, 5, 7, 9, 3, 8, 4, 12, 11, 6, 20, 15, 10, 13, 14, 16, 21, 35, 17, 29, 36, 18, 19, 27, 22, 24, 42, 39, 34, 26, 33, 25, 23, 28, 37, 38, 40]

number_emergency:
[0, 1, 2, 4, 3, 9, 5, 7, 6, 8, 22, 25, 10, 13, 42, 16, 11, 28, 15, 14, 18, 12, 21, 20, 19, 46, 76, 37, 64, 63, 54, 24, 29]

number_inpatient:
[0, 1, 2, 3, 6, 5, 4, 7, 8, 9, 15, 10, 11, 14, 12, 13, 17, 16, 21, 18, 19]

number_diagnoses:
[1, 9, 6, 7, 5, 8, 3, 4, 2, 16, 12, 13, 15, 10, 11, 14]

max_glu_serum:
['None', '>300', 'Norm', '>200']

A1Cresult:
['None', '>7', '>8', 'Norm']

metformin:
['No', 'Steady', 'Up', 'Down']

repaglinide:
['No', 'Up', 'Steady', 'Down']

nateglinide:
['No', 'Steady', 'Down', 'Up']

chlorpropamide:
['No', 'Steady', 'Down', 'Up']

glimepiride:
['No', 'Steady', 'Down', 'Up']

acetohexamide:
['No', 'Steady']

glipizide:
['No', 'Steady', 'Up', 'Down']

glyburide:
['No', 'Steady', 'Up', 'Down']

tolbutamide:
['No', 'Steady']

pioglitazone:
['No', 'Steady', 'Up', 'Down']

rosiglitazone:
['No', 'Steady', 'Up', 'Down']

acarbose:
['No', 'Steady', 'Up', 'Down']

miglitol:
['No', 'Steady', 'Down', 'Up']

troglitazone:
['No', 'Steady']

tolazamide:
['No', 'Steady', 'Up']

examide:
['No']

citoglipton:
['No']

insulin:
['No', 'Up', 'Steady', 'Down']

glyburide-metformin:
['No', 'Steady', 'Down', 'Up']

glipizide-metformin:
['No', 'Steady']

glimepiride-pioglitazone:
['No', 'Steady']

metformin-rosiglitazone:
['No', 'Steady']

metformin-pioglitazone:
['No', 'Steady']

change:
['No', 'Ch']

diabetesMed:
['No', 'Yes']

readmitted:
['NO', '>30', '<30']

In [17]:
#checking how many duplicate rows there are
df.duplicated().sum()

0

In [18]:
#finding the percentage of missing values in each column
#for this, a missing value is considered a '?' as the value
for column in df.columns:
    percent_missing = np.sum(df[column]=='?')/df.shape[0]*100
    print(column + ': ' + str(percent_missing))

encounter_id: 0.0
patient_nbr: 0.0
race: 2.2335554114340743
gender: 0.0
age: 0.0
weight: 96.85847925633315
admission_type_id: 0.0
discharge_disposition_id: 0.0
admission_source_id: 0.0
time_in_hospital: 0.0
payer_code: 39.5574160328597
medical_specialty: 49.08220820313268
num_lab_procedures: 0.0
num_procedures: 0.0
num_medications: 0.0
number_outpatient: 0.0
number_emergency: 0.0
number_inpatient: 0.0
diag_1: 0.02063557573256294
diag_2: 0.3517874339170253
diag_3: 1.398305917497003
number_diagnoses: 0.0
max_glu_serum: 0.0
A1Cresult: 0.0
metformin: 0.0
repaglinide: 0.0
nateglinide: 0.0
chlorpropamide: 0.0
glimepiride: 0.0
acetohexamide: 0.0
glipizide: 0.0
glyburide: 0.0
tolbutamide: 0.0
pioglitazone: 0.0
rosiglitazone: 0.0
acarbose: 0.0
miglitol: 0.0
troglitazone: 0.0
tolazamide: 0.0
examide: 0.0
citoglipton: 0.0
insulin: 0.0
glyburide-metformin: 0.0
glipizide-metformin: 0.0
glimepiride-pioglitazone: 0.0
metformin-rosiglitazone: 0.0
metformin-pioglitazone: 0.0
change: 0.0
diabetesMed: 0.0
readmitted: 0.0

In [19]:
#dropping weight, payer code, and medical specialty columns as they have significant number of missing values
df.drop(labels=['weight','payer_code','medical_specialty'], inplace=True, axis=1)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,Not Mapped,Physician Referral,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),Emergency,Discharged to home,Emergency Room,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),Emergency,Discharged to home,Emergency Room,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),Emergency,Discharged to home,Emergency Room,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),Emergency,Discharged to home,Emergency Room,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [20]:
#dropping examide and citoglipton columns as they only have one unique value 'No'
df.drop(labels=['examide','citoglipton'], inplace=True, axis=1)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,Not Mapped,Physician Referral,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),Emergency,Discharged to home,Emergency Room,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),Emergency,Discharged to home,Emergency Room,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),Emergency,Discharged to home,Emergency Room,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),Emergency,Discharged to home,Emergency Room,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [21]:
#checking the values in the race column
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

In [22]:
#replacing the ? with Other
df['race'].replace('?','Other', inplace=True)
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
Other               3779
Hispanic            2037
Asian                641
Name: race, dtype: int64

In [23]:
#checking the values in the 'admission_type_id' column
df['admission_type_id'].value_counts()

Emergency        53990
Elective         18869
Urgent           18480
Not Available     4785
Not Mapped         320
Trauma Center       21
Newborn             10
Name: admission_type_id, dtype: int64

In [24]:
#counting the number of null values
df['admission_type_id'].isna().sum()

5291

In [25]:
#checking the values in the 'discharge_disposition_id' column
df['discharge_disposition_id'].value_counts()

Discharged to home                                                                                           60234
Discharged/transferred to SNF                                                                                13954
Discharged/transferred to home with home health service                                                      12902
Discharged/transferred to another short term hospital                                                         2128
Discharged/transferred to another rehab fac including rehab units of a hospital .                             1993
Expired                                                                                                       1642
Discharged/transferred to another type of inpatient care institution                                          1184
Not Mapped                                                                                                     989
Discharged/transferred to ICF                                                                                  815
Left AMA                                                                                                       623
Discharged/transferred to a long term care hospital.                                                           412
Hospice / home                                                                                                 399
Hospice / medical facility                                                                                     372
Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital      139
Discharged/transferred to home under care of Home IV provider                                                  108
Discharged/transferred within this institution to Medicare approved swing bed                                   63
Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.         48
Admitted as an inpatient to this hospital                                                                       21
Discharged/transferred/referred to this institution for outpatient services                                     14
Discharged/transferred/referred another institution for outpatient services                                     11
Expired at home. Medicaid only, hospice.                                                                         8
Neonate discharged to another hospital for neonatal aftercare                                                    6
Discharged/transferred to a federal health care facility.                                                        5
Still patient or expected to return for outpatient services                                                      3
Expired in a medical facility. Medicaid only, hospice.                                                           2
Name: discharge_disposition_id, dtype: int64

In [26]:
#counting the number of null values
df['discharge_disposition_id'].isna().sum()

3691

In [27]:
#checking the values in the 'admission_source_id' column
df['admission_source_id'].value_counts()

 Emergency Room                                               57494
 Physician Referral                                           29565
Transfer from a hospital                                       3187
 Transfer from another health care facility                    2264
Clinic Referral                                                1104
 Transfer from a Skilled Nursing Facility (SNF)                 855
HMO Referral                                                    187
 Not Mapped                                                     161
 Not Available                                                  125
 Court/Law Enforcement                                           16
 Transfer from hospital inpt/same fac reslt in a sep claim       12
 Transfer from critial access hospital                            8
Normal Delivery                                                   2
 Extramural Birth                                                 2
 Transfer from Ambulatory Surgery Center                          2
 Sick Baby                                                        1
Name: admission_source_id, dtype: int64

In [28]:
#counting the number of null values
df['admission_source_id'].isna().sum()

6781

In [29]:
#replacing the not available and not mapped values in the columns with the mode from the columns
df['admission_type_id'] =  df['admission_type_id'].replace({'Not Available':'Emergency','Not Mapped':'Emergency'})
df['discharge_disposition_id'] =  df['discharge_disposition_id'].replace({'Not Mapped':'Discharged to home'}) 
df['admission_source_id'] =  df['admission_source_id'].replace({' Not Available':' Emergency Room',' Not Mapped':' Emergency Room'})

In [30]:
#replacing the null values in the coluumns with the mode from the columns
df['admission_type_id'] =  df['admission_type_id'].fillna('Emergency')
df['discharge_disposition_id'] =  df['discharge_disposition_id'].fillna('Discharged to home') 
df['admission_source_id'] =  df['admission_source_id'].fillna(' Emergency Room')

In [31]:
#identifying row where all columns are missing diagnoses
df.loc[(df['diag_1']=='?') & (df['diag_2']=='?') & (df['diag_2']=='?'),['diag_1','diag_2','diag_3','number_diagnoses']]

      diag_1 diag_2 diag_3  number_diagnoses
87181      ?      ?      ?                 5

In [32]:
#dropping row where all columns are missing diagnoses
df.drop(87181, inplace=True)

In [33]:
#examining the columns where an initial diagnosis is missing
df.loc[(df['diag_1']=='?'),['diag_1','diag_2','diag_3','number_diagnoses']]

      diag_1  diag_2  diag_3  number_diagnoses
518        ?     780     997                 4
1006       ?     595   250.6                 7
1267       ?  250.82     401                 5
1488       ?     276     594                 8
3197       ?  250.01     428                 7
7845       ?     496     788                 4
14503      ?     276  250.01                 6
19714      ?     112     585                 8
32514      ?     998     427                 9
37693      ?     780     295                 9
49516      ?     707     427                 8
56931      ?     585     427                 8
57058      ?     V63     414                 6
57737      ?     276     V08                 8
60314      ?     427     486                 8
61369      ?     780     780                 8
61763      ?     426     427                 8
66848      ?     780     427                 7
86018      ?  250.02     438                 4
98396      ?     780     250                 9

In [34]:
#figuring out the mode for the column
df['diag_1'].value_counts()

428    6862
414    6581
786    4016
410    3614
486    3508
       ...
939       1
915       1
391       1
804       1
691       1
Name: diag_1, Length: 717, dtype: int64

In [35]:
#replacing the columns that are just missing a diag_1 value with the mode
df.loc[(df['diag_1']=='?'),'diag_1'] = 428

In [36]:
#identifying the columns where there is only 1 diagnosis and it is listed
df.loc[(df['diag_2']=='?') & (df['diag_3']=='?') & (df['number_diagnoses'] == 1) ,['diag_1','diag_2','diag_3','number_diagnoses']]

        diag_1 diag_2 diag_3  number_diagnoses
0       250.83      ?      ?                 1
66      250.11      ?      ?                 1
216     250.03      ?      ?                 1
263      250.8      ?      ?                 1
431     250.13      ?      ?                 1
...        ...    ...    ...               ...
93803      250      ?      ?                 1
95146   250.02      ?      ?                 1
96563   250.13      ?      ?                 1
100787  250.01      ?      ?                 1
101719  250.13      ?      ?                 1

[219 rows x 4 columns]

In [37]:
#for the entries where there is only one diagnosis, replacing diag_2 and diag_3 with None
df.loc[(df['diag_2']=='?') & (df['diag_3']=='?') & (df['number_diagnoses'] == 1) ,['diag_2','diag_3']] = 'None'

In [38]:
#dropping the rows who only have one diagnosis listed in diag_1 but number_diagnoses > 1
df.drop(df.loc[(df['diag_2']=='?') & (df['diag_3']=='?')].index, inplace = True)

In [39]:
#figuring out the mode for the column
df['diag_2'].value_counts()

276     6752
428     6662
250     6071
427     5036
401     3736
        ...
893        1
E818       1
195        1
V60        1
235        1
Name: diag_2, Length: 750, dtype: int64

In [40]:
#replacing the columns that are just missing a diag_2 value with the mode
df.loc[(df['diag_2']=='?'),'diag_2'] = 276

In [41]:
#for the entries where there is two diagnosis and number_diagnoses=2, replacing diag_3 with None
df.loc[(df['diag_3']=='?') & (df['number_diagnoses'] == 2) ,['diag_2','diag_3']] = 'None'

In [42]:
#dropping the rows who only have diagnosis listed in diag_1 and diag_2 but number_diagnoses > 3
df.drop(df.loc[(df['diag_3']=='?')].index, inplace = True)

In [43]:
#quick look at final data frame
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),Emergency,Discharged to home,Physician Referral,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),Emergency,Discharged to home,Emergency Room,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),Emergency,Discharged to home,Emergency Room,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),Emergency,Discharged to home,Emergency Room,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),Emergency,Discharged to home,Emergency Room,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [44]:
#shape of final data frame
df.shape

(101583, 45)

In [50]:
filename = 'diabetic_data_cleaned'
df.to_csv(filename)